@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <base href="/" />
    
    <link rel="stylesheet" href="main.styles.css" />
</head>
<body>

    @Body

    <script src="_framework/blazor.server.js"></script>

</body>
</html>